<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title} - IdontKnowWhatToEat}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('main_index') }}">IdontKnowWhatToEat</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link"></a>
                    </li>
                    <!-- add current user is authenticated-->
                    <li class="nav-item">
                        <a class="nav-link"></a>
                    </li>
                    <!-- add endif -->
                </ul>
                <ul class="">
                    <!-- add current user is authenticed -->
                    <li class="nav-item">
                        <a class="nav-link"></a>
                    </li>
                    <!-- add else -->
                    <li class="nav-item">
                        <a class="nav-link"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"></a>
                    </li>
                    <!-- add endif -->
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <!-- add -->
        <!-- add -->
        <!-- addd -->
        <div class="">{{ message }}</div>
        <!-- addd -->
        <!-- add -->
        <!-- add -->

        <!-- block content endblock -->
    </div>

    <script srtc=""></script>
</body>
</html>